html{
    background-color: red;
}
/*
html{
    font-family:'Courier New', Courier, monospace;
    padding: 15pt;
}
*/
#newNote{
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-color: #323232;
    resize: none;

    width: 90%;
    height: 35%;
 }

 .gap{
     opacity: 0;
     height: 10%;
 }

 .sub{
     border-radius: 1%;
     width: 15vh;
     height:5vh;
     background-color: #1f1e1e;
     color: #FFFFFF;
 }
